@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.projects-box{
    margin-bottom: 30px;
    .box-images{
        max-width: 100%;
        height: auto;

        img{
            width: 100%;
            height: auto;
            vertical-align: middle;
            object-fit: cover;
        }
    }

    .box-text{
        padding-top: 15px;
        .title-project{
            a{
                font-size: 16px;
                color: #555;
                font-weight: 700;
                text-decoration: none;
                line-height: 21px;
                text-transform: uppercase;
            }
        }

        .desc{
            padding-top: 7px;
            span{
                font-size: 14px;
                color: #777;
            }
        }
    }
}

.product-box-hh{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .box-images{
        max-width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        

        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        &::before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

        img{
            width: 100%;
            height: auto;
            vertical-align: middle;
            object-fit: cover;
            transition: .3s ease-out;
        }

        &.style-one{
            height: 580px;

            @media only screen and (max-width: 850px){
                &{
                    height: auto;
                }
            }

            img{
                height: 100%;

                @media only screen and (max-width: 850px){
                    &{
                        height: auto;
                    }
                }
            }
        }

        &.style-three{
            height: 280px;

            @media only screen and (max-width: 850px){
                &{
                    height: auto;
                }
            }

            img{
                height: 100%;

                @media only screen and (max-width: 850px){
                    &{
                        height: auto;
                    }
                }
            }
        }
    }

    .box-text{
        &.style-one{
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 50px;
            z-index: 3;
            padding: 5px 30px 10px 30px;
            background-color: rgba(255, 255, 255, 0.94);
            color: #555555;
            text-align: center;

            .sub-title{
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .main-title{
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
            }

            span{
                font-size: 10px;
                font-weight: 700;
                color: #333;
                text-transform: uppercase;
                display: inline-block;
                position: relative;

                &:hover::before{
                    width: 100%;
                    opacity: 1;
                }

                &::before{
                    content: "";
                    height: 2px;
                    background-color: currentColor;
                    opacity: .3;
                    transition: all .3s;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60%;
                    
                }
            }
        }

        &.style-two{
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 55px;
            z-index: 3;
            padding: 15px;
            color: #555555;
            text-align: center;

            .sub-title{
                font-size: 12px;
                color: #fff;
                line-height: 14px;
                text-transform: uppercase;
            }

            .main-title{
                font-size: 23px;
                color: #fff;
                text-transform: uppercase;
            }

            span{
                font-size: 10px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                padding: 3px 8px;
                border: 1px solid #fff;
                transition: 0.3s ease-out;

                &:hover{
                    background: #fff;
                    color: #333;
                }
            }
        }

        &.style-three{
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
            padding: 15px;
            color: #555555;
            text-align: center;

            .sub-title{
                font-size: 12px;
                color: #fff;
                line-height: 14px;
                text-transform: uppercase;
            }

            .main-title{
                font-size: 23px;
                color: #fff;
                text-transform: uppercase;
            }

            span{
                font-size: 10px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                padding: 3px 8px;
                border: 1px solid #fff;
                transition: 0.3s ease-out;

                &:hover{
                    background: #fff;
                    color: #333;
                }
            }
        }
    }
}

.custom-title-hh{
    font-size: 10px;
    position: relative;
    padding-top: 30px;
    .title{
        font-size: 3em;
        color: #333;
        font-weight: 400;
        text-align: center;
        margin-bottom: 60px;
        padding-bottom: 30px;
        position: relative;

        &::before{
            content: "";
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            bottom: 3px;
            left: 50%;
            height: 1px;
            width: 60%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &::after{
            content: "";
            background: #fff;
            position: absolute;
            bottom: 3px;
            left: 50%;
            height: 1px;
            width: 3%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .fa{
        position: absolute;
        bottom: 0;
        left: 50%;
        color: #fab207;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 8px;
    }
}

.why-choose-us{
    padding-top: 30px;
    .content-choose{
        background: #81818B;
        padding: 15px;
        .title{
            font-size: 20px;
            color: #fff;
            font-weight: 700;
            text-align: center;
            padding-bottom: 15px;
        }

        p{
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            line-height: 26px;
        }
    }

    .btn-choose{
        a{
            font-size: 16px;
            line-height: 25px;
            text-transform: uppercase;
            color: #fff;
            display: block;
            width: max-content;
            padding: 7px 15px;
            text-decoration: none;
            border: 2px solid #fff;
            border-radius: 30px;
            margin: auto;
            transition: .3s;

            &:hover{
                background: #FFFFFF;
                color: #333;
            }
        }
    }
}

.list-product{
    .row{
        &.no-gutters>.col, &.no-gutters>[class*=col-]{
            padding-left: 10px;
            padding-right: 10px;
        }

        &.no-gutters{
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

.owl-carousel{
    &.custom-one{
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 30px;
                z-index: 4;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-weight: normal;
                color: #333;

                &:hover{
                    background: unset;
                    color: #333;
                }
    
                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                    font-weight: normal;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: -20px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: -20px;
                        }
                    }
                }
            }
        }
    }

    &.custom-two{
        .item{
            margin-bottom: 0px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
        
        &.owl-theme .owl-dots{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 93%;
    
            @media only screen and (max-width: 1024px){
                &{
                    top: 90%;
                }
            }
    
            @media only screen and (max-width: 768px){
                &{
                    top: 87%;
                }
            }
    
            @media only screen and (max-width: 576px){
                &{
                    top: 80%;
                }
            }
        }
    
        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #A6A6A6;
            }
            span{
                margin: 5px 3px;
                background: #FFFFFF;
    
                &:hover{
                    background-color: #A6A6A6;
                }
            }
        }
    
        
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 20px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.548);
                color: #fff;
                margin: 0;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-weight: normal;

                &:hover{
                    background: rgba(51, 51, 51, 0.918);
                }

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                    font-weight: normal;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                   
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                   
                }
            }
        }
    }
}

.banner-box{
    position: relative;
    overflow: hidden;

    &:hover{
        .text-box{
            top: 50%;
            opacity:1;
            visibility: visible;
        }
    }

    .images{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
        }
    }

    .text-box{
        position: absolute;
        top: 70%;
        right: 10%;
        transform: translateY(-50%);
        width: 420px;
        height: 420px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease-out;
        opacity: 0;
        visibility: hidden;

        @media only screen and (max-width: 850px){
            &{
                width: 300px;
                height: 300px;
            }
        }


        @media only screen and (max-width: 576px){
            &{
                width: 150px;
                height: 150px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            text-align: center;
            
            @media only screen and (max-width: 850px){
                &{
                    font-size: 40%;
                }
            }

            @media only screen and (max-width: 850px){
                &{
                    font-size: 20%;
                }
            }

            .main-title{
                font-size: 3.2em;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
            }

            .sub-title{
                font-size: 2.4em;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
            }

            .btn-dk-mp{
                font-size: 1.6em;
                text-transform: uppercase;
                display: block;
                width: max-content;
                padding: 5px 10px;
                border: 1px solid #fff;
                transition: .3s ease-out;
                margin-top: 10px;
                color:#fff;
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    background: #fff;
                    color: #333;
                }
            }
        }
    }
}

.banner-others{
    margin-top: 30px;
}


